<% layout("/partials/problem") %>

<div class="content">
    <div class="submission-list">
    <% for (let i = 0; i < jobs.length; i++) { %>
        <% let job = jobs[i] %>
        <a href="/submissions/result?id=<%=job.id%>">
            <div class="submission <%=(i % 2 == 0 ? 'alternate-color' : '')%>">
                <div class="side-status <%= helpful_funcs.submission_status_class(job.status)%>"></div>
                <div><%= helpful_funcs.get_problem_name(job.problem) %></div>
                <div><%= helpful_funcs.get_job_status(job.status.kind) %></div>
                <div><%= helpful_funcs.get_language_name(job.lang) %></div>
                <div><%= helpful_funcs.get_running_time(job.status) %></div>
                <div><%= helpful_funcs.format_time(job.time_initiated) %></div>
            </div>
        </a>
    <% } %>
    </div>

    <% if (problem.dir_name != undefined) { %>
        <a href="/problems/<%=problem.dir_name%>"><div class="submissions-bottom-btn">Go to problem</div></a>
        <a href="/submissions"><div class="submissions-bottom-btn">View all submissions</div></a>
    <% } %>
</div>