<% extend("../partials/master") %>

<h1 class="content problem-name">
    <%= problem.name %>
</h1>

<div class="problem-top-bar">
    <div class="problem-stats-container">
        <div class="problem-stats correct-color"
            style="
                width: <%= Math.floor(problem.correct_attempts / problem.attempts * 100)%>%;
                visibility: <%= (problem.correct_attempts == 0 ? 'hidden' : 'visible') %>;
            ">
            <span class="problem-stats-tooltip">Correct</span>
        </div>
        <div class="problem-stats wrong-color"
            style="
                width: <%= Math.floor(problem.wrong_answer_attempts / problem.attempts * 100)%>%;
                visibility: <%= (problem.wrong_answer_attempts == 0 ? 'hidden' : 'visible') %>;
            ">
            <span class="problem-stats-tooltip">Wrong</span>
        </div>
        <div class="problem-stats timed-out-color"
            style="
                width: <%= Math.floor(problem.timed_out_attempts / problem.attempts * 100)%>%;
                visibility: <%= (problem.timed_out_attempts == 0 ? 'hidden' : 'visible') %>;
            ">
            <span class="problem-stats-tooltip">Timed Out</span>
        </div>
        <div class="problem-stats other-color"
            style="
                width: <%= Math.floor(problem.other_bad_attempts / problem.attempts * 100)%>%;
                visibility: <%= (problem.other_bad_attempts == 0 ? 'hidden' : 'visible') %>
            ">
            <span class="problem-stats-tooltip">Other</span>
        </div>
    </div>

    <a class="submit-btn" href="/problems/<%=problem.dir_name%>/submit">Submit</a>

</div>

<div style="margin: 20px"></div>
<%- problem.description %>
