<% layout("partials/problem") %>

<script type="text/javascript" src="/static/js/submit_page.js"></script>

<div class="submission-submit-form">
    <form action="/problems/<%=problem.dir_name%>/submit" method="POST" enctype="multipart/form-data">
        <div>
            <label for="lang">Language</label><br>
            <select name="lang">
                <option value="c" <%= default_lang == "c" ? "selected" : ""%>>C (GCC)</option>
                <option value="cpp" <%= default_lang == "cpp" ? "selected" : ""%>>C++ (G++)</option>
                <option value="py" <%= default_lang == "py" ? "selected" : ""%>>Python 3</option>
                <!--<option value="go" <%= default_lang == "go" ? "selected" : ""%>>Go 1.10</option>-->
            </select>
        </div>

        <div>
            <label for="code_file">Source file</label><br>

            <div id="upload-file-btn" class="file-upload-wrapper" style="margin-bottom: 10px">
                <span>Upload a file</span>
                <input type="file" name="code_file" accept=".c, .cpp, .py, .go" />
            </div>

            <div style="margin-bottom: 0">
                <div class="file-upload-wrapper switch-btn">
                    <span>Switch to editor</span>
                </div>
            </div>

            <div id="text-editor" class="text-editor" style="display: none">
                <textarea name="raw_code"></textarea>
            </div>
        </div>
        
        <div>
            <input type="submit" value="Submit!" />
        </div>
    </form>


</div>
